<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>A Rusty WebApp</title>
  <meta name="description" content="A Rusty WebApp">
  <meta name="author" content="Caleb Trachte">
  <link rel="shortcut icon" href="favicon.ico" type="image/avif">
  <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
</head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
