<a class="custom-btn btn-9 center-text center" href="/visitors">Visitors</a>
<a class="custom-btn btn-9 center-text center" href="/about">About</a>
<a class="custom-btn btn-9 center-text center" href="/">Home/Landing</a>
<a class="custom-btn btn-9 center-text center" href="/form">Form Example</a>
<a class="custom-btn btn-9 center-text center" href="/hello/YourNameHere">Hello! [name]</a>
